@import "Design";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; 
  z-index: -100;
  position: relative;
}

.group {
  height: 100%;
  width: 100%;
  position: absolute;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.landing {
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  -webkit-filter: sepia(25%);
}

.landing-border {
  height: 98%;
  width: 98.5%;
  margin-left: 1%;
  margin-top: 0.5%;
  position: absolute;
  border: 10px black solid;
}

.title-text {
  width: 60%;
  height: 15%;
  font-size: 100px;
  color: white;
  position: fixed;
  text-align: left;
  margin-left: 2%;
  bottom: 75%;
  z-index: 50;
  line-height: 90%;
  font-family: always;
}

.enter-btn {
  margin-left: 43%;
  position: fixed;
  height: 100%;
}

button.btn.btn-default {
  margin-top: 146%;
  background-color: black;
  color: white;
  font-size: 40px;
  width: 110%;
  height: 10%;
  border: none;
  font-family: PrintDashed;
}

.audio-button{
  height: 10%;
  background-color: black;
  width: 7%;
  border-radius: 30% 30% 0 0;
  margin-top: 59.27%;
  margin-left: 2%;
  font-size: 25px;
  text-align: center;
  color: white;
}

i.fa.fa-music {
  position: relative;
  top: 10%;
  right: 5%;
}

.top-nav {
  margin-bottom: 2%;
  background-color: black;
  border: none;
  width: 75%;
  margin-left: 50%;
  height: 10%;
  z-index: 10;
}

.bot-nav {
  margin-bottom: 2%;
  background-color: black;
  border: none;
  width: 5%;
  margin-left: 48%;
  height: 10%;
  z-index: 1;
  border-radius: 50% 50% 50% 50%;
}


.navbar ul > li {
  text-transform: uppercase;
  font-family: 'PrintDashed';
  font-weight: 900;
  font-size: 30px;
  display: inline-block;
  padding-bottom: 10px;
  margin-left: 22px;
  margin-right: 15px;
  z-index: 100;
  margin-top: 12px;
  margin-bottom: 2px; }

.navbar ul > li > a:hover {
  border-top: 1px solid white;
  padding: 10px;
}

.navbar ul > li > a {
  padding: 10px;
}

.navbar-collapse .row {
  margin-left: -75px;
  margin-right: 0;
}

.landing-left-side {
  width: 70%;
  height: 100%;
  float: left;
}

.landing-right-side {
  width: 30%;
  height: 100%;
  float:right;
}

.button-media {
  height: 65%;
}